@charset "utf-8";
.container {
  display: grid;
  grid-template-rows:80px auto 100px;
  grid-template-columns:auto 200px;
  grid-template-areas: 
      "header header"
      "main sidebar"
      "footer footer"; /* 名前付き領域を定義 */
  grid-gap: 10px; /* 各グリッドアイテムの間に10pxのギャップ */
}

.header {
  grid-area: header; /* header 領域に配置 */
  background-color: #4CAF50;
  color: white;
  text-align: center;
  }
  
  .main {
    grid-area: main; /* main 領域に配置 */
    background-color: #f1f1f1;
    }
  
  .sidebar {
    grid-area: sidebar; /* sidebar 領域に配置 */
    background-color: #2196F3;
    color: white;
  }


.footer {
  grid-area: footer; /* footer 領域に配置 */
  background-color: #333;
  color: white;
  text-align: center;
}

/* 576px以下の画面幅に対するメディアクエリ */
@media screen and (max-width: 576px) {
  .container {
    display:grid;
      grid-template-rows: 80px auto auto 100px;
      grid-template-columns: auto; /* 1列構成に変更 */
      grid-template-areas: 
          "header"
          "main"
          "sidebar"
          "footer"; /* 各エリアが縦に並ぶように */
      gap: 10px;
  }
}
